<a href="https://colab.research.google.com/github/ThatOneGuyy208/CS178Repo/blob/main/Day01_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=10
b=3.14
c = "machine learning"
d = 'hi'
e = 'x'
f = [1,2,3]
print(a,b,c,d,e,f)

10 3.14 machine learning hi x [1, 2, 3]

In [2]:
print("a's type:", type(a))
a = 'variables can change types'
print("a's type:", type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

a's type: <class 'int'>
a's type: <class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>

In [3]:
x = [1,2,3] 
y=x
x[0] = "abc" 
print(y) 
#before you run, what will the value of y[0] be?

['abc', 2, 3]

In [4]:
z = x[1]
x[1] = "what"
print(x)
print(z)
x.append(70)
x.insert(2,90)
print(x)
#can you predict what will be output?
#guess: abc, what, 3 - 2 - 90, abc, what, 3, 70

['abc', 'what', 3]
2
['abc', 'what', 90, 3, 70]

In [5]:
print( x.index(90) )
print( len(x) )
print( x+x )
#can you predict what will be output?
#guess 2 - 5 - big list

2
5
['abc', 'what', 90, 3, 70, 'abc', 'what', 90, 3, 70]

In [6]:
#List Slices 

my_list = [33, 55, 'hello','R2D2',7.8,'banana']
print( my_list[1:5] )
print( my_list[:4])
print( my_list[4:])
print( my_list[:])

[55, 'hello', 'R2D2', 7.8]
[33, 55, 'hello', 'R2D2']
[7.8, 'banana']
[33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [7]:
my_slice = my_list[1:5]
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University'])
my_list[:0] = ['Bulldogs']
print(my_list)
# why isn't "Drake" or "University" printed out in this last line?

[55, 'hello', 'what', 7.8]
[33, 55, 'hello', 'R2D2', 7.8, 'banana']
[55, 'hello', 'R2D2', 7.8, 'Drake', 'University', 'Drake', 'University']
['Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [8]:
my_list = [42, 3.14, 'hello', ['ice', 'ice', 'baby']]
print(my_list[3][2])
print(my_list[2][1])
# wait, what? 
# explain what is happening here
#in the first print command reads the first list and then the second, the secont print goes for a string, so it targets the characters.

baby
e

In [9]:
# In Python, a tuple is a collection which is ordered and unchangeable
# In Python tuples are written with round brackets.

my_tuple = (100,200,'300')
print(my_tuple[1])
my_dictionary = {'x':42, 'y':3.14}
print(my_dictionary['x'])

200
42

In [12]:
# Each of these lines will cause an error. 
# Can you describe why before running them one at a time?

#print(my_list[1][2])
# target is number and not string/list
#my_tuple[1] = 0
#cannot change tuples outside of creation
#print(my_dictionary[1])
#cannot index dictionary, they are unordered.

In [13]:
# If statements and for loops
x = int(input())
if x < 0:
    print("x is negative")
elif x % 2:
    print("x is positive and odd")
else:
    print("x is even and nonnegative")

num_list = [3, 7, 9,17, 2]
for num in num_list:
    print(num)

print(range(10,20))
for n in range(10,20):
    print(n)

99
x is positive and odd
3
7
9
17
2
range(10, 20)
10
11
12
13
14
15
16
17
18
19

In [14]:
# iterating through Data
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
# method 1
for element in my_data:
    print(element)

# method 2
for idx in range(len(my_data)):
    print(my_data[idx])

5.3
3.2
4.1
5.9
6.7
3.5
5.3
3.2
4.1
5.9
6.7
3.5

In [20]:
# Explain why these won't work:
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
for i in my_data:
    print( i )
# you are already iterating through the data, no need to make sure of it, just use i.

for i in range(len(my_data)):
    print( my_data[i] )
#technically this does work, just not how we want it to.
#Not iterating through data, iterating through the length of my data

for i in range(len(my_data)):
    print( my_data[i] )

5.3
3.2
4.1
5.9
6.7
3.5
5.3
3.2
4.1
5.9
6.7
3.5
5.3
3.2
4.1
5.9
6.7
3.5